/* src/index.css */
@import "../../style/variables.css";

.headerLink {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: var(--green-color);
}

.bi.bi-telephone {
    color: var(--green-color);
    border: var(--green-color);
}

.collapse-navbar{
    display: block;
}

/* src/components/Navbar/index.css */
.navbar-toggler {
    display: block !important;
    color: var(--green-color) !important;
    border: 1px solid var(--green-color) !important;
}

/* ... ваш код ... */

@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
    }
    .navbar-collapse.show {
        display: block;
    }
}