@import "../../style/variables.css";

.main-center-card {
    width: 483px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.full-card-content {
    font-size: 20px;
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    white-space: normal;

}
.big-img {
    width: 308px;
    height: 308px;
    border-radius: 20px;
    object-fit: cover;
}